<!--
  Generated template for the QuestionsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title text-center>Questions</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngFor="let question of questions; let i = index" (click)="editQuestion(i)">
        <ion-list-header><h3 style="display: inline-block">{{ question.question }}</h3> <ion-icon name="arrow-dropright" item-right></ion-icon></ion-list-header>
        <ion-item *ngFor="let answer of question.answers;">- <small>{{answer.value}} - {{ answer.answer }} || {{answer.comment}}</small></ion-item>
    </ion-list>

    <div class="totals">
        <p>Total Questions: {{ questions.length }}</p>
        <p>Highest Score Possible: {{highScore}}</p>
        <p>Lowest Score Possible: {{lowScore}}</p>
    </div>

    <ion-row>
        <ion-col>
            <button ion-button block color="secondary" (click)="saveQuestions()"><ion-icon name="cloud-upload"></ion-icon>&nbsp;Save Qs</button>
        </ion-col>
        <ion-col>
            <button ion-button block (click)="addQuestion()"><ion-icon name="add"></ion-icon>&nbsp; Add Q</button>
        </ion-col>
    </ion-row>


</ion-content>
